
HelloWorld/Project1/.vs/Project1/v16/Browse.VC.opendb
BasicCalculator/.vs/BasicCalculator/v16/Browse.VC.opendb
SodokuSolver/.vs/SodokuSolver/v16/Browse.VC.opendb
Bank Account/.vs/Bank Account/v16/Browse.VC.opendb
Data Structure/Structure/.vs/Structure/v16/Browse.VC.opendb
